<section>
  <p>
    Source tite: <%=@census_database %> database
    <br>
    Repository: The National Archives, Kew, Surrey
    <br>
    Citation detail:  PRO <%=@dep_series_code%>
    <br>
    Citation text: <%=@searched_user_name %><% if !@is_family_head %> in household of <%= @family_head_name%><% end %>, <%= @user_address%>
    <br>
    Web address:  https://www.freecen.org.uk viewed <%= @viewed_date %>
  </p>
</section>
